<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SEEGVIS</title>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/echarts-gl.min.js"></script>
    <script src="../static/js/visChart.js"></script>
    <style type="text/css">
        input{
            display:inline-block!important;
        }
        .tab1 > tbody > tr:nth-child(2n-1) > td,
        .tab1 > tbody > tr:nth-child(2n-1) > th {
            {#background-color: #afd9ee;#}
             background-color: rgba(0,255,255,0.1);
         }

        .tab1 > tbody > tr:nth-child(2n) > td,
        .tab1 > tbody > tr:nth-child(2n) > th {
            {#background-color: #8EB2D2;#}
            background-color: rgba(120,100,130,0.1);
         }
        .axis path,
        .axis line{
            fill:none;
            stroke:black;
            shape-rendering:crispEdges;
        }
        div.tooltip {
            position: absolute;
            text-align: center;
            width: 60px;
            height: 28px;
            padding: 2px;
            font: 12px sans-serif;
            background: lightsteelblue;
            border: 0px;
            border-radius: 8px;
            pointer-events: none;
        }
        #line_tab{
            display: inline-block;
            width: 400px;
            text-align: center;
        }
        #line_tab caption{
            font-size: 26px;
            font-weight: bold;
            color: orangered;
            width: 400px;
            text-align: center;
        }
    </style>

</head>
<body>
<!-- 折叠 -->
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <h4 class="panel-title">
                <label>基本信息</label>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <form method="post" action="/" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if not fc_info %}
                        请上传mat格式文件：<input type="file" accept=".mat" name="up_file"/>
                        <input type="submit" value="提交"/><br>
                    {% else %}
                        更改数据文件：<input type="file" accept=".mat" name="up_file"/>
                        <input type="submit" value="更改"/><br>
                    {% endif %}
                </form>
                <table align="center" class="table tab1 table-bordered" style="text-align: center;width: 80%">
                    {% if fc_info %}
                    <caption style="font-size: 26px;font-weight: bold;text-align: center;margin-bottom: 10px;">
                        当前上传的数据文件为：<font color="red">{{ file_name }}</font>
                    </caption>
                    {% endif %}
                    <tbody>
                    {% for key,value in fc_info.items %}
                        <tr class="active">
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            <h4 class="panel-title">
                <label>空间坐标</label>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body" id="electrodes">
                请上传对应电极点的空间坐标：<input type="file" accept=".txt,.csv" id="coordinate_file" onchange="showCoordinate(this.files,{{ fc_info.electrode_names }})"/>
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
            <h4 class="panel-title">
                <label>折线图</label>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                <table>
                    <tbody>
                    <tr>
                        <td style="padding:15px 10px">
                            <div class="input-group">
                                <span class="input-group-addon">信号1（S1）：</span>
                                <input class="form-control" type="text" id="s1">
                            </div>
                        </td>
                        <td style="padding:15px 10px">
                            <div class="input-group">
                                <span class="input-group-addon">信号2（S2）：</span>
                                <input class="form-control" type="text" id="s2">
                            </div>
                        </td>
                        <td>
                            <label class="btn btn-success" onclick="getH2({{ fc_info }})">提交</label>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- Create a div where the graph will take place -->
                <div id="my_dataviz"></div>
            </div>
        </div>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading"  data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
            <h4 class="panel-title">
                <label>小提琴图</label>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
                <div id="analyse">
                    <table>
                        <tbody>
                        <tr>
                            <td style="padding:15px 10px">
                                <div class="input-group">
                                    <span class="input-group-addon">EZ: </span>
                                    <input class="form-control" type="text" id="EZ">
                                </div>
                            </td>
                            <td style="padding:15px 10px">
                                <div class="input-group">
                                    <span class="input-group-addon">PZ: </span>
                                    <input class="form-control" type="text" id="PZ">
                                </div>
                            </td>
                            <td style="padding:15px 10px">
                                <div class="input-group">
                                    <span class="input-group-addon">NIZ: </span>
                                    <input class="form-control" type="text" id="NIZ">
                                </div>
                            </td>
                            <td>
                                <label class="btn btn-success" onclick="fcAnalyse()">FC分析</label>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    var one_elect = new Set();
    var one_elect_co = {};
    function getH2(fc_info) {
        if(!fc_info){
            alert("请先上传.mat数据文件!");
            return;
        }
        var s1 = $("#s1").val();
        var s2 = $("#s2").val();
        $.post('{% url 'getH2' %}',{"s1":s1,"s2":s2},function(result, statue){
                if(result["result"] === true){
                    //h2_max, lag_max, nw_direction, (sp - sn) / (sp + sn)
                    var s1_s2 = result["s1_s2"];
                    var signal = [fc_info["electrode_names"][s1],fc_info["electrode_names"][s2]];
                    var lens = fc_info["section_iterations"];
                    var times = d3.range(fc_info["start"],fc_info["start"]+lens);
                    var data = [];
                    for(i=0;i<lens;i++){
                        data.push({"time":times[i],"h2":s1_s2[0][i]})
                    }
                    linechart(data,signal,lens,s1_s2[2],s1_s2[3],twoElectCO(signal,one_elect_co));
                }else {
                    alert("Failed!\n message:"+result["msg"])
                }
        });
    }
    function fcAnalyse(){
        var ez = $("#EZ").val();
        var pz = $("#PZ").val();
        var niz = $("#NIZ").val();
        // alert(ez+"\n"+pz+"\n"+niz)
        $.post('{% url 'fcAnalyse' %}',{"ez":ez,"pz":pz,"niz":niz},function(result, statue){
                if(result["result"] === true){
                    //h2_max, lag_max, nw_direction, (sp - sn) / (sp + sn)
                    var zones = result["zones"];
                    alert(zones)
                }else {
                    alert(result["msg"])
                }
        });
    }
    function showCoordinate(files,electrode_names) {
        if(!electrode_names){
            alert("请先上传.mat数据文件!");
            return;
        }
        //console.log(files);
        if (files[0]) {
            var reader = new FileReader();
            reader.readAsText(files[0]);
            /*
            reader.onload = function () {
                globaldata = this.result;
            }
            reader.onloadend = function (evt) {
                if(evt.target.readyState == FileReader.DONE){
                    globaldata.push(csv2array(reader.result.toString()));
                }
            };
            */
            reader.onload = function (f) {
                //var result = document.getElementById("result");
                //显示文件
                one_elect.clear();
                for(var i=0;i<electrode_names.length;i++){
                    var two_e = electrode_names[i].split("-");
                    one_elect.add(two_e[0]);
                    one_elect.add(two_e[1]);
                }
                var co_data={"ez":[],"pz":[],"niz":[]};
                var relArr = this.result.split("\r\n");
                var regp = new RegExp(".*,\".*,.*\"$");
                if (!$.isEmptyObject(relArr) && relArr.length > 1) {
                    for (var cokey in one_elect_co){
                        //delete one_elect_co.cokey; 清空字典，只能使用下面的方法
                        delete one_elect_co[cokey];
                    }
                    var title_key = relArr[0].split(",");
                    for (var key = 1, len = relArr.length; key < len; key++) {
                        var values = relArr[key];
                        if (regp.test(values)) {
                            alert("文件内容中有英文逗号，麻烦修改后再上传，含有英文逗号的内容是：" + values);
                            return;
                        }
                        if (!$.isEmptyObject(values)) {
                            var obj = [];
                            var objArr = values.split(",");
                            for (var j=1;j<objArr.length;j++){
                                obj.push(objArr[j]);
                            }
                            if (objArr[0] === "ez"){
                                co_data.ez.push(obj);
                            } else if (objArr[0] === "pz"){
                                co_data.pz.push(obj);
                            }else if (objArr[0] === "niz"){
                                co_data.niz.push(obj);
                            }

                            if (isInSet(obj[3],one_elect)){
                                one_elect_co[obj[3]] = strArr2floatArr(obj.slice(0,-1));
                            }
                        }
                    }
                }
                $("#codination").remove();
                var newM = $("<div id='codination' style='width: 90%;height:500px;' align='center'></div>");
                newM.appendTo($("#electrodes"));
                scatter3D(co_data,'codination');
                /*
                var s1 = $("#s1").val();
                var s2 = $("#s2").val();
                if (typeof(s1)==="number"&&typeof(s2)==="number"){

                }
                */
            };
        }
    }
    function isInSet(item,set) {
        for (var si of set){
            if (item === si){
                return true;
            }
        }
        return false;
    }
    function strArr2floatArr(strArr) {
        var floatArr = [];
        for (var sai of strArr){
            floatArr.push(parseFloat(sai));
        }
        return floatArr;
    }
    function twoElectCO(signal,co) {
        /*
         返回电极对的中心坐标
         signal的格式例如： ['C4-C5', 'C6-C7']
          */
        var s1 = signal[0].split('-');
        var s2 = signal[1].split('-');
        return [centerPoint(co[s1[0]],co[s1[1]]),centerPoint(co[s2[0]],co[s2[1]])]
    }
    function centerPoint(co1,co2) {
        if (!(co1&&co2)){
            return null;
        }
        return [(co1[0]+co2[0])/2,(co1[1]+co2[1])/2,(co1[2]+co2[2])/2]
    }
</script>

    <script src="../static/js/d3.v4.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script>

</script>
</html>